body {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, 0.6)), url("../images/Doodle.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.list__img {
    width: 80px;
    height: 80px;
}

.list__container {
    margin-top: 7%;
}